.table-button {
	background-color: #40e0d0;
	color: white;
	border: none;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
	margin: 3px;
	display: inline-block;
}

.table-button:hover {
	background-color: #37c6b3;
	transform: scale(1.05);
}

.table-button:active {
	background-color: #2eac9f;
	transform: scale(0.95);
}
