button,
.btn-primary {
    background-color: #0a152f;
    color: #ffffff;
    border: 2px solid #0a152f;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: fit-content;
}

button:hover,
.btn-primary:hover {
    background-color: #13409b;
    border-color: #13409b;
}

button:active,
.btn-primary:active {
    background-color: #164cb8;
    border-color: #164cb8;
}

.btn-link {
    color: #0a152f;
    margin: 10px;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-link-small {
    background-color: transparent;
    border: none;
    color: #0a152f;
    margin: 10px;
    font-size: small;
    padding: 0;
}

.btn-link-small:hover {
    text-decoration: underline;
    background-color: transparent;
}

.nav-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.nav-button:hover {
    background-color: #ffffff;
    color: #0a152f;
    text-decoration: none;
}

.nav-button:active {
    background-color: #e1e1e1;
    color: #0a152f;
    text-decoration: none;
}

.btn-highlight {
    background-color: #ffffff;
    color: #0a152f;
    text-decoration: none;
    cursor: default;
}

.btn-outline {
    border: 1px solid #ffffff;
}

.small-button {
	background-color: #40e0d0;
	color: white;
	border: none;
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
	margin: 5px;
	display: inline-block;
}

.small-button:hover {
	background-color: #37c6b3;
	transform: scale(0.98);
}

.small-button:active {
	background-color: #2eac9f;
	transform: scale(0.95);
}